export DB_USER=AraMjb
export DB_PASSWORD=AraMinjibir

export PAYSTACK_SECRET="sk_test_1234567890"

export secretKey="abf72c96e5d4f39a8c2e1fd6b7c4a9d1f38492e7b0c6d54f8a1e37c5d9b204ee"
export  issuer="doodoo-logistics-platform"
export expirationMinutes=60

